<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/styles/main.css" />

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <script src="/scripts/bulma.js" defer></script>
    <script src="/scripts/main.js" defer></script>

    <title>CoCreate</title>
  </head>
  <body class="has-navbar-fixed-top">
    <!-- https://bulma.io/documentation/components/navbar/#fixed-navbar -->
    <nav
      class="navbar is-dark is-fixed-top"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/projects"> All Projects </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      
    </nav>

    <section class="hero is-medium has-background-light">
      <div class="hero-body">
        <p class="title">All Projects</p>
      </div>
    </section>

    <main class="container is-max-widescreen">
      <div class="columns is-multiline p-5">
        <% for(let idx = 0; idx < projects.length; idx++){ %> <% const project =
        projects[idx] %>

        <div class="column is-one-third">
          <article class="card">
            <div class="card-content">
              <div class="content">
                <h3>
                  <a href="/projects/<%= project.id %>"><%= project.title %> </a>
                </h3>

                <p>Type: <%= project.type %></p>
                <p>Decription: <%= project.description %></p>
              </div>
            </div>
          </article>
        </div>
        <% } %>
      </div>
    </main>
  </body>
</html>